* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #101010;
}

.container {
    height: 100vh;
}

.app-title {
    margin-bottom: .5rem;
}

.app-title-text {
    font-size: 36px;
    font-weight: 700;
    color: #cad2c5;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(135deg, #29323c 10%, #485563 100%);
}

.calc-main-block {
    position: relative;
    padding: 1.5rem;
}

.calcultor-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    background: #101010;
}

.input-block {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.number-field {
    height: 35px;
    width: 350px;
    margin-bottom: .5rem;
    border: 1px solid #0582ca;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background: #000814;
    color: #cad2c5;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    margin-right: .3rem;
    padding: 0 .5rem 0 .5rem;
    transition: 200ms ease-in-out;
}

.number-field::-webkit-inner-spin-button,
.number-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-field::-moz-number-spin-box {
    -moz-appearance: none;
}

.number-field:focus {
    outline: none;
    border-color: #ffd60a;
    transition: 200ms ease-in-out;
}

.reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 16px;
    font-weight: 500;
    background: #003f88;
    border-radius: 5px;
    border: none;
    color: #cad2c5;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.results-field {
    height: 75px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .5rem;
    padding: .5rem;
    border: 1px solid #84a98c;
    border-radius: 5px;
    resize: none;
    background: #1a1d1a;
    color: #cad2c5;
    cursor: not-allowed;
}

.results-field:focus {
    outline: none;
}

.action-panel {
    display: flex;
    align-items: center;
    width: 100%;
}

.select-menu,
.count-btn,
.rand-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.select-menu {
    margin-right: .5rem;
    padding: 0 .5rem 0 .5rem;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #495057;
    background: #212529;
    color: #cad2c5;
}

.count-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background: #003f88;
    border: none;
    color: #cad2c5;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.count-btn:hover {
    background: #001d3d;
    transition: 200ms ease-in-out;
}

.rand-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: #04a777;
    color: #000;
    cursor: pointer;
}

.rand-btn:hover {
    background: #00916e;
    transition: 200ms ease-in-out;
}

.btn-text {
    margin-right: .5rem;
}

.download-block {
    display: none;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}

.download-name-input {
    height: 35px;
    width: 70%;
    margin-right: .5rem;
    border: 1px solid #0582ca;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background: #000814;
    color: #cad2c5;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    background: #212529;
    border: 1px solid #8ac926;
    border-radius: 5px;
    color: #cad2c5;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.download-btn:hover {
    background: #8ac926;
    color: #000;
    transition: 200ms ease-in-out;
}

.calculator-img {
    position: absolute;
    transform: rotate(180deg);
    top: 75px;
    right: 25px;
    height: 300px;
    width: 300px;
}

.light-switch-btn {
    padding: .5rem;
    border: 1px solid #485563;
    border-radius: 5px;
    background: #101010;
    color: #cad2c5;
    cursor: pointer;
}

.light-switch-btn:hover {
    background: #003f88;
    color: #000;
}

.color-changer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;
}

.color-input-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.input-color-title {
    margin-left: .5rem;
    font-size: 16px;
    font-weight: 700;
    color: #cad2c5;
}

.color-changer input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
}