* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #101010;
}

.container {
    height: 100vh;
}

.app-title {
    margin-bottom: .5rem;
}

.app-title-text {
    font-size: 36px;
    font-weight: 700;
    color: #cad2c5;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(135deg, #29323c 10%, #485563 100%);
}

.calc-main-block {
    position: relative;
    padding: 1.5rem;
}

.calcultor-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.number-field {
    height: 35px;
    width: 350px;
    margin-bottom: .5rem;
    border: 1px solid #0582ca;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background: #000814;
    color: #cad2c5;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    padding: 0 .5rem 0 .5rem;
    margin-bottom: .5rem;
    transition: 200ms ease-in-out;
}

.number-field::-webkit-inner-spin-button,
.number-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-field::-moz-number-spin-box {
    -moz-appearance: none;
}

.number-field:focus {
    outline: none;
    border-color: #ffd60a;
    transition: 200ms ease-in-out;
}


.results-field {
    height: 75px;
    width: 350px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .5rem;
    padding: .5rem;
    border: 1px solid #000;
    border-radius: 5px;
    resize: none;
    background: #1a1d1a;
    color: #cad2c5;
    cursor: not-allowed;
}

.results-field:focus {
    outline: none;
}

.results-field:focus {
    outline: none;
    border-color: #ffd60a;
    transition: 200ms ease-in-out;
}

.action-panel {
    display: flex;
    align-items: center;
    width: 100%;
}

.select-menu,
.count-btn,
.rand-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.select-menu {
    margin-right: .5rem;
    padding: 0 .5rem 0 .5rem;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #495057;
    background: #212529;
    color: #cad2c5;
}

.count-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    font-size: 16px;
    font-weight: 500;
    background: #003f88;
    border: none;
    color: #cad2c5;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.count-btn:hover {
    background: #001d3d;
    transition: 200ms ease-in-out;
}

.rand-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: #04a777;
    color: #000;
    cursor: pointer;
}

.rand-btn:hover {
    background: #00916e;
    transition: 200ms ease-in-out;
}

.btn-text {
    margin-right: .5rem;
}

.download-btn {
    margin-top: .5rem;
    padding: .5rem;
    font-size: 16px;
    font-weight: 500;
    background: #003f88;
    border: none;
    color: #cad2c5;
    cursor: pointer;
    transition: 200ms ease-in-out;
    width: 100%;
}

.calculator-img {
    position: absolute;
    transform: rotate(180deg);
    top: 75px;
    right: 25px;
    height: 300px;
    width: 300px;
}

.light-switch-btn {
    padding: .5rem;
    border: 1px solid #485563;
    border-radius: 5px;
    background: #101010;
    color: #cad2c5;
    cursor: pointer;
}

.light-switch-btn:hover {
    background: #003f88;
    color: #000;
}

/*  */

.color-changer {
    padding: 1.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0582ca;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffd60a;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000814;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*  */